html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: Bevan, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  border: 3px solid #595652;
}

body {
  margin: 0
}

div {
  background-color: #79756f;
  padding: .6em .5em .75em;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 0;
}

.nav {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: .6em .5em .75em;
  text-decoration: none;
  background-color: #713837;
  border-radius: .3em;
  margin-top: .3em;
  margin-bottom: .3em;
}

.nav a:hover {
  background-color: #f33;
}
